<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>  <!-- O título pode ser dinâmico -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

</head>
<body>
   
        {{{body}}} <!-- O conteúdo da página será injetado aqui -->

<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
