<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <title>home</title>
</head>
<body>
    <header>
        <h1>Bem-vindo à página inicial</h1>
        <nav>
            <a class="btn btn-danger" href="/">Início</a>
            <a href="/about" class="bg-primary">Sobre</a>
            <a href="/contact">Contato</a>
        </nav>
    </header>
    <main>
        <p class="">Esta é a página inicial do site.</p>
    </main>

    <!-- Link para o Bootstrap JS -->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
